<a href="https://colab.research.google.com/github/Atit19/R.Descriptive/blob/main/MeanModeMedian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np

In [52]:
df=pd.read_csv('/content/Q7.csv')
df

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [53]:

df[['Weigh', 'Points','Score']].mean()

Weigh     17.848750
Points     3.596563
Score      3.217250
dtype: float64

In [54]:
df[['Weigh', 'Points','Score']].median()

Weigh     17.710
Points     3.695
Score      3.325
dtype: float64

In [55]:
df[['Weigh', 'Points','Score']].mode

<bound method DataFrame.mode of     Weigh  Points  Score
0   16.46    3.90  2.620
1   17.02    3.90  2.875
2   18.61    3.85  2.320
3   19.44    3.08  3.215
4   17.02    3.15  3.440
5   20.22    2.76  3.460
6   15.84    3.21  3.570
7   20.00    3.69  3.190
8   22.90    3.92  3.150
9   18.30    3.92  3.440
10  18.90    3.92  3.440
11  17.40    3.07  4.070
12  17.60    3.07  3.730
13  18.00    3.07  3.780
14  17.98    2.93  5.250
15  17.82    3.00  5.424
16  17.42    3.23  5.345
17  19.47    4.08  2.200
18  18.52    4.93  1.615
19  19.90    4.22  1.835
20  20.01    3.70  2.465
21  16.87    2.76  3.520
22  17.30    3.15  3.435
23  15.41    3.73  3.840
24  17.05    3.08  3.845
25  18.90    4.08  1.935
26  16.70    4.43  2.140
27  16.90    3.77  1.513
28  14.50    4.22  3.170
29  15.50    3.62  2.770
30  14.60    3.54  3.570
31  18.60    4.11  2.780>

In [56]:
df[['Weigh', 'Points','Score']].std()

Weigh     1.786943
Points    0.534679
Score     0.978457
dtype: float64