In [ ]:
x=5
y=1.2
z='ATIT'
a=True

FOR PRINTING VALUES:

In [ ]:
print(x)
print(y)
print(z)
print(type(a))
print(type(x),type(y),type(z))

5
1.2
ATIT
<class 'bool'>
<class 'int'> <class 'float'> <class 'str'>

IF ELSE AND ELIF CONDITION

In [ ]:
if x>5:
  print("Greater")
elif x<5:
  print("less")
else:
  print("Equal")

Equal

## Create variable store 10 and check conditions using if elif and else.

In [ ]:
x=10
if x== int:
  print('TRUE')
else:
  print('FALSE')

FALSE

In [ ]:
#Print Hello World
print("Hello World")

Hello World

In [ ]:
#Indentation : Correct Way 
if True:
    print ("True")
else:
    print ("False")

True

In [ ]:
# Multiline
item_one = 1
item_two = 2
item_three = 3
total = item_one + \
        item_two + \
        item_three
print("Total = ",total)

Total =  6

In [ ]:
#Addtion of number
x=5
y=10
z=x+y
print('The Value of x=',x)
print('The Value of y=',y)
print('Result--->',z)

The Value of x= 5
The Value of y= 10
Result---> 15

In [ ]:
#Substraction of Number
x=100
y=20
z=x-y
print('The value of x=',x)
print('The value of y=',y)
print('Result--->',z)

The value of x= 100
The value of y= 20
Result---> 80

In [4]:
#Mutltiple Calculation##########################################################
x=100
y=20
z=x+y
z2=x-y
z3=x*y
z4=x/y
z5=x%y
print('The value of x',x)
print('The value of y',y)
print('Result---->',z)
print('Result---->',z2)
print('Result---->',z3)
print('Result---->',z4)
print('Result---->',z5)

The value of x 100
The value of y 20
Result----> 120
Result----> 80
Result----> 2000
Result----> 5.0
Result----> 0

In [ ]:
#For append the values in list
ls=[2,3,4,4,'A','T','I','T']
ls.append('D U P A R E')
ls.append(4)
ls

[2, 3, 4, 4, 'A', 'T', 'I', 'T', 'D U P A R E', 4]

In [ ]:
# Array elements declaration 
Day_of_Week = ["Monday","Tueday","Wensday","Thursday","Friday","Saturday","Sunday"]
                  
print("3rd Week day is ",Day_of_Week[2])

3rd Week day is  Wensday

In [ ]:
# Importing Pandas Library
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df.tail(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16990,-124.22,41.73,28.0,3003.0,699.0,1530.0,653.0,1.7038,78300.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
df.describe

<bound method NDFrame.describe of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]>